flows.json
[{"id":"42b80b6e8265249a","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"e966c2a72b9c806d","type":"mqtt in","z":"42b80b6e8265249a","name":"","topic":"00-02-01-aa-c5-14/pdin1-8/#","qos":"1","datatype":"auto-detect","broker":"27a8e71842894d47","nl":false,"rap":true,"rh":0,"inputs":0,"x":260,"y":100,"wires":[[]]},{"id":"348c529b0abbbec9","type":"mqtt in","z":"42b80b6e8265249a","name":"","topic":"00-02-01-aa-53-bd/#","qos":"2","datatype":"auto-detect","broker":"27a8e71842894d47","nl":false,"rap":true,"rh":0,"inputs":0,"x":290,"y":360,"wires":[["7a4e86fd8581a1d6","42a391a987cd0e7f","fbfadd16b681f34e","7ec931de06208564","a775285dd79f7df8","52bed5c3789e23f8","e919612a9bd790a8"]]},{"id":"7a4e86fd8581a1d6","type":"mqtt-processData","z":"42b80b6e8265249a","X":"1","x":580,"y":360,"wires":[["7a476fd80c58a1ed","ce7570ebc3031854"]]},{"id":"f472001cadda1daf","type":"sensor-processData","z":"42b80b6e8265249a","name":"","scale":1,"convert":"2","octet":"2","index":"0","x":960,"y":360,"wires":[["ce69d323cb4a448f"]]},{"id":"650cebf5acac7853","type":"sensor-processData","z":"42b80b6e8265249a","name":"","scale":1,"convert":"2","octet":"2","index":"0","x":960,"y":480,"wires":[["3a915019c12aaf18"]]},{"id":"fde1ecfb0437de18","type":"sensor-processData","z":"42b80b6e8265249a","name":"","scale":1,"convert":"2","octet":"2","index":"0","x":960,"y":520,"wires":[["a27f187e93780f88"]]},{"id":"b35c46788253de4e","type":"sensor-processData","z":"42b80b6e8265249a","name":"","scale":1,"convert":"2","octet":"2","index":"0","x":960,"y":560,"wires":[["b6c55d2247f47505"]]},{"id":"42a391a987cd0e7f","type":"mqtt-processData","z":"42b80b6e8265249a","X":"2","x":580,"y":400,"wires":[["f472001cadda1daf"]]},{"id":"fbfadd16b681f34e","type":"mqtt-processData","z":"42b80b6e8265249a","X":"3","x":580,"y":440,"wires":[["feaf3c44ea1ad4cb","73e231ce135e730f"]]},{"id":"7ec931de06208564","type":"mqtt-processData","z":"42b80b6e8265249a","X":"4","x":580,"y":480,"wires":[["650cebf5acac7853"]]},{"id":"a775285dd79f7df8","type":"mqtt-processData","z":"42b80b6e8265249a","X":"6","x":580,"y":520,"wires":[["fde1ecfb0437de18"]]},{"id":"52bed5c3789e23f8","type":"mqtt-processData","z":"42b80b6e8265249a","X":"8","x":580,"y":560,"wires":[["b35c46788253de4e"]]},{"id":"feaf3c44ea1ad4cb","type":"sensor-processData","z":"42b80b6e8265249a","name":"","scale":1,"convert":"2","octet":"2","index":"0","x":960,"y":400,"wires":[["530f2f0a8cb0bdf0"]]},{"id":"7a476fd80c58a1ed","type":"sensor-processData","z":"42b80b6e8265249a","name":"","scale":1,"convert":"2","octet":"2","index":"0","x":960,"y":280,"wires":[["308c7bbb3b9028d6"]]},{"id":"ce7570ebc3031854","type":"sensor-processData","z":"42b80b6e8265249a","name":"","scale":1,"convert":"2","octet":"2","index":"4","x":960,"y":320,"wires":[["6a349e424673399b"]]},{"id":"308c7bbb3b9028d6","type":"function","z":"42b80b6e8265249a","name":"function 1","func":"\nmsg.payload = msg.payload*0.001\nmsg.topic = \"P1\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":280,"wires":[["17fc20a809ba9525","d8aab7c61013e9c4","453be67998eae014","dad74b0abdd91496","efcaa2c64bf258cb"]]},{"id":"6a349e424673399b","type":"function","z":"42b80b6e8265249a","name":"function 2","func":"msg.payload = msg.payload*0.01\nmsg.topic = \"t1\"\n\nvar msg2 = {payload2: \"\", topic:\"\"}\n\n\nif (msg.payload > 60){\n    msg2.payload = 0\n    return [msg, msg2]\n} \nelse {\n    msg2.payload = 1\n    return [msg, msg2]\n}\n\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":320,"wires":[["17fc20a809ba9525","d8aab7c61013e9c4","453be67998eae014","dad74b0abdd91496","efcaa2c64bf258cb"],["ccec9c3044a2463c"]]},{"id":"73e231ce135e730f","type":"sensor-processData","z":"42b80b6e8265249a","name":"","scale":1,"convert":"2","octet":"2","index":"4","x":960,"y":440,"wires":[["bec8d524d7db6597"]]},{"id":"ce69d323cb4a448f","type":"function","z":"42b80b6e8265249a","name":"function 3","func":"\nmsg.payload = msg.payload*0.1\nmsg.topic = \"P2\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":360,"wires":[["17fc20a809ba9525","d8aab7c61013e9c4","453be67998eae014","dad74b0abdd91496","efcaa2c64bf258cb"]]},{"id":"530f2f0a8cb0bdf0","type":"function","z":"42b80b6e8265249a","name":"function 4","func":"\nmsg.payload = msg.payload*0.001\nmsg.topic = \"P3\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":400,"wires":[["17fc20a809ba9525","d8aab7c61013e9c4","453be67998eae014","dad74b0abdd91496","efcaa2c64bf258cb"]]},{"id":"bec8d524d7db6597","type":"function","z":"42b80b6e8265249a","name":"function 5","func":"\nmsg.payload = msg.payload*0.01\nmsg.topic = \"t3\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":440,"wires":[["17fc20a809ba9525","d8aab7c61013e9c4","453be67998eae014","dad74b0abdd91496","efcaa2c64bf258cb"]]},{"id":"3a915019c12aaf18","type":"function","z":"42b80b6e8265249a","name":"function 6","func":"\nmsg.payload = msg.payload*0.1\nmsg.topic = \"P4\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":480,"wires":[["17fc20a809ba9525","d8aab7c61013e9c4","453be67998eae014","dad74b0abdd91496","efcaa2c64bf258cb"]]},{"id":"a27f187e93780f88","type":"function","z":"42b80b6e8265249a","name":"function 7","func":"\nmsg.payload = msg.payload*0.1\nmsg.topic = \"P6\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":520,"wires":[["17fc20a809ba9525","d8aab7c61013e9c4","453be67998eae014","dad74b0abdd91496","efcaa2c64bf258cb"]]},{"id":"b6c55d2247f47505","type":"function","z":"42b80b6e8265249a","name":"function 8","func":"\nmsg.payload = msg.payload*0.1\nmsg.topic = \"P8\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":560,"wires":[["17fc20a809ba9525","d8aab7c61013e9c4","453be67998eae014","dad74b0abdd91496","efcaa2c64bf258cb"]]},{"id":"17fc20a809ba9525","type":"function","z":"42b80b6e8265249a","name":"function 9","func":"var timestamp\n\nlet buffer = context.get(\"buffer\") || {};\nbuffer[msg.topic] = msg.payload;\ncontext.set(\"buffer\", buffer);\n\nconst TOTAL_SENSORS = 8;\nlet count = Object.keys(buffer).length;\n\nif (count < TOTAL_SENSORS) {\n    return null;\n}\n\n// Sorter topics\nlet topics = Object.keys(buffer).sort();\n\n// Udpak værdier i samme rækkefølge\nlet values = topics.map(t => buffer[t]);\n\n// Formater data til chart\nmsg.payload = [{\n    series: topics,\n    data: values.map(v => [v]),\n    labels: [\"Måling\"],\n    tidsstempel: Date.now()\n}];\n\n// Nulstil buffer\ncontext.set(\"buffer\", {});\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1560,"y":280,"wires":[["ce9a497e848c3cdc","609068f0824674b3","784cf744ec68b1ad"]]},{"id":"ce9a497e848c3cdc","type":"ui_chart","z":"42b80b6e8265249a","name":"","group":"9c2ea0af8da678bc","order":0,"width":0,"height":0,"label":"chart","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1810,"y":280,"wires":[[]]},{"id":"b293e79038bddf8a","type":"ui_text","z":"42b80b6e8265249a","group":"9c2ea0af8da678bc","order":1,"width":0,"height":0,"name":"","label":"t1 Alarm","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1820,"y":320,"wires":[]},{"id":"609068f0824674b3","type":"debug","z":"42b80b6e8265249a","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1820,"y":240,"wires":[]},{"id":"784cf744ec68b1ad","type":"mqtt out","z":"42b80b6e8265249a","name":"","topic":"NodeRedData","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ae445bd775737928","x":1840,"y":200,"wires":[]},{"id":"9a631eba51cb2d55","type":"file","z":"42b80b6e8265249a","name":"","filename":"\\db","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"utf8","x":1810,"y":360,"wires":[["b48bf5f181e92351"]]},{"id":"b48bf5f181e92351","type":"file in","z":"42b80b6e8265249a","name":"","filename":"\\db","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1970,"y":360,"wires":[["fe5533ea296bab74"]]},{"id":"fe5533ea296bab74","type":"debug","z":"42b80b6e8265249a","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2140,"y":360,"wires":[]},{"id":"adff48148088121f","type":"inject","z":"42b80b6e8265249a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1820,"y":460,"wires":[["64db70e90997a9b3"]]},{"id":"22da7a7a6b0a65fc","type":"debug","z":"42b80b6e8265249a","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2340,"y":460,"wires":[]},{"id":"64db70e90997a9b3","type":"function","z":"42b80b6e8265249a","name":"Éngangs injects ","func":"msg.topic = `ALTER TABLE sensor_data_tjorring DROP PRIMARY KEY;`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2000,"y":460,"wires":[["f08519ef312f66f3"]]},{"id":"f08519ef312f66f3","type":"mysql","z":"42b80b6e8265249a","d":true,"mydb":"","name":"","x":2190,"y":460,"wires":[["22da7a7a6b0a65fc"]]},{"id":"d8aab7c61013e9c4","type":"function","z":"42b80b6e8265249a","name":"function 11","func":"\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1810,"y":620,"wires":[["5df20e9a947ded4b"]]},{"id":"5df20e9a947ded4b","type":"debug","z":"42b80b6e8265249a","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1980,"y":620,"wires":[]},{"id":"89856f23ac23cfbe","type":"inject","z":"42b80b6e8265249a","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM sensor_data_tjorring;","x":1810,"y":520,"wires":[["f7458827efbcf22d"]]},{"id":"f7458827efbcf22d","type":"mysql","z":"42b80b6e8265249a","d":true,"mydb":"","name":"","x":1970,"y":520,"wires":[["65c1ddd01d62caef"]]},{"id":"65c1ddd01d62caef","type":"debug","z":"42b80b6e8265249a","name":"debug 6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2120,"y":520,"wires":[]},{"id":"453be67998eae014","type":"function","z":"42b80b6e8265249a","name":"function 10","func":"// Heartbeat timeout (10 sek)\nconst TIMEOUT = 10 * 1000;\nconst now = Date.now();\n\n// Sidst vi så data\nlet lastSeen = flow.get(\"hb_lastSeen\") || 0;\n\n// Hvis dette er første kørsel → init uden alarm\nif (lastSeen === 0) {\n    flow.set(\"hb_lastSeen\", now);\n    return null;\n}\n\n// Hvis der er modtaget data nu → opdater lastSeen\nflow.set(\"hb_lastSeen\", now);\n\n// Check om der er gået for lang tid siden sidste data\nif (now - lastSeen > TIMEOUT) {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"Fejl, 10 sekunder siden sidste datainput\" });\n    return {\n        topic: \"heartbeat/timeout\",\n        payload: {\n            error: \"No data received for 10 seconds\",\n            age_ms: now - lastSeen\n        }\n    };\n}\n\n// Hvis der er data og det ikke har været for længe → send intet\nnode.status({fill:\"green\",shape:\"ring\",text:\"OK\"});\nreturn null;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1810,"y":820,"wires":[["598d3c9b3ee85170","d6319465e4b86a7e"]]},{"id":"598d3c9b3ee85170","type":"debug","z":"42b80b6e8265249a","name":"Alarm","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2170,"y":820,"wires":[]},{"id":"fb62e50ff5dc34c5","type":"node-red-contrib-whatsapp-cmb-send-message","z":"42b80b6e8265249a","name":"","credtype":"account","account":"8a1ae55405791244","text":"","phonenumbervalue":"","apikeyvalue":"","apikeyinputtypemessage":"msg","phonenumberinputtypemessage":"msg","inputtypemessage":"str","rejectssl":false,"x":1840,"y":160,"wires":[[]]},{"id":"ccec9c3044a2463c","type":"switch","z":"42b80b6e8265249a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1570,"y":320,"wires":[["b293e79038bddf8a"],["fb62e50ff5dc34c5"]]},{"id":"dad74b0abdd91496","type":"join","z":"42b80b6e8265249a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"8","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1810,"y":1100,"wires":[["a5630f6b06802921","a2ae2f70a6373582"]]},{"id":"a5630f6b06802921","type":"function","z":"42b80b6e8265249a","name":"function 13","func":"let i = 1;\nlet url = `https://api.thingspeak.com/update?api_key=8AVSHJLI6NDLYZ78`;\n\nfor (let key of Object.keys(msg.payload)) {\n    url += `&field${i}=${msg.payload[key]}`;\n    i++;\n}\n\nmsg.method = \"GET\";\nmsg.url = url;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2030,"y":1100,"wires":[["571de15e2e0d1b72"]]},{"id":"8cbb6ab7d687f57f","type":"http request","z":"42b80b6e8265249a","name":"Send til ThingSpeak","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":2260,"y":1100,"wires":[["0400347a9c8f583c"]]},{"id":"0400347a9c8f583c","type":"debug","z":"42b80b6e8265249a","name":"debug 11","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2460,"y":1100,"wires":[]},{"id":"571de15e2e0d1b72","type":"debug","z":"42b80b6e8265249a","name":"debug 9","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2200,"y":1040,"wires":[]},{"id":"a2ae2f70a6373582","type":"debug","z":"42b80b6e8265249a","name":"Debug Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1990,"y":940,"wires":[]},{"id":"efcaa2c64bf258cb","type":"function","z":"42b80b6e8265249a","name":"function 12","func":"//var tid = (new Date().toLocaleString())\n//msg.topic = `INSERT INTO sensor_data_tjorring (sensorID, værdi, tidsstempel) VALUES ('${msg.topic}', '${msg.payload}', ${Date.now()});`\n//return msg;\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1810,"y":700,"wires":[[]]},{"id":"e919612a9bd790a8","type":"debug","z":"42b80b6e8265249a","name":"debug 12","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":660,"wires":[]},{"id":"d6319465e4b86a7e","type":"node-red-contrib-whatsapp-cmb-send-message","z":"42b80b6e8265249a","name":"","credtype":"account","account":"8a1ae55405791244","text":"topic","phonenumbervalue":"","apikeyvalue":"","apikeyinputtypemessage":"msg","phonenumberinputtypemessage":"msg","inputtypemessage":"msg","rejectssl":false,"x":2200,"y":780,"wires":[[]]},{"id":"27a8e71842894d47","type":"mqtt-broker","name":"","broker":"142.93.135.2","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"9c2ea0af8da678bc","type":"ui_group","name":"Default","tab":"d403827547173024","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"ae445bd775737928","type":"mqtt-broker","name":"","broker":"142.93.135.2","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"8a1ae55405791244","type":"node-red-contrib-whatsapp-cmb-account","name":"Mig"},{"id":"d403827547173024","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]